* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  padding-bottom: 30px;
}

header {
  height: 55px;
  background: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > img {
  margin-right: 4px;
}

header h1 {
  font-weight: 500;
font-size: 14.4608px;
line-height: 18px;
letter-spacing: -0.075em;
color: #FFFFFF;
}

.card {
  margin-top: 40px;
  display: flex;
  margin-left: 30px;
}

.card .travel-img {
  width: 125px;
height: 168px;
border-radius: 5px; 
}

.card .flex-1 {
  display: flex;
  align-items: center; 
}

.flex-1 img {
  margin-right: 5px;
}

.flex-1 h2 {
  font-weight: 400;
font-size: 10.24px;
line-height: 12px;
letter-spacing: 0.17em;
color: #2B283A;
margin-right: 9px;
}

.flex-1 a {
  font-weight: 400;
font-size: 10.24px;
line-height: 12px;
text-decoration-line: underline;
color: #918E9B;
}

.card h3 {
  font-weight: 700;
font-size: 25px;
line-height: 30px;
color: #2B283A;
margin-top: 10px;
}

.card h4 {
  font-weight: 700;
font-size: 10.24px;
line-height: 12px;
color: #2B283A;
margin-top: 20px;
}

.card p {
  font-weight: 400;
font-size: 10.24px;
line-height: 150%;
color: #2B283A;
padding-right: 5px;
margin-top: 7px;
}

.text-div {
  margin-left: 20px;
  margin-top: 7px;
}

@media screen and (min-width: 900px) {
   .section {
    display: flex;
    flex-wrap: wrap;
   }

   .card {
    width: 30%;
   }
}

@media screen and (max-width: 900px) {
  .card {
    margin-right: 10px;
  }
}
